<!DOCTYPE html>
<html>
<head>
    <title>Unotes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

	<script src="../js/jquery.min.js"></script>
	
	<!-- CSS theme from the web -->
	<link href="../css/skel.css" rel="stylesheet" type="text/css" />	
	<link href="../css/style.css" rel="stylesheet" type="text/css" />	
	<link href="../css/style-xlarge.css" rel="stylesheet" type="text/css" />
	
	<link href="../css/style-my.css" rel="stylesheet" type="text/css" />
	
    <!-- Bootstrap -->
    <link href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
{{> navbar}}