<div id="notes-stream"></div>

<div id="new-note-form">
	<p>Save a new one:</p>
	<form action="add" method="post" id="noteform">
		Your text:<br>
		<textarea name="text" rows="10" cols="30"></textarea>
		<br> <br> <input type="submit" value="Post">
	</form>
</div>